<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heartm.heartbeat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/heartm_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ViewWebFormActivity"  android:theme="@style/AppTheme.NoActionBar"  ></activity>
        <activity android:name=".SettingActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HeartBeatHistoryActivity"
            android:label="@string/title_activity_heart_beat_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TesActivity"
            android:label="@string/title_activity_tes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DashboardActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DrugUsageActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FormDrugUsageActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StepSportActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FormStepSportActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HeartBeatActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notification.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>